@import 'variables';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: $font-size;
   font-family: $font-family;
   color: $dark-blue;
}

img {
   display: block;
}

a {
   color: inherit;
   text-decoration: none;
}

div,
nav,
img,
section,
article,
header,
footer {
   position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   text-align: center;
}

h2 {
   font-size: 1.7rem;
   @media (min-width: $breakpoint) {
      font-size: 2.4rem;
   }
}

h3 {
   font-size: 1.45rem;
   @media (min-width: $breakpoint) {
      font-size: 1.7rem;
   }
}

h4 {
   font-size: 1.25rem;
}

p {
   color: $grayish-blue;
   line-height: 1.6;
   font-size: 0.85rem;
   text-align: center;
   padding: 15px 20px;
   @media (min-width: $breakpoint) {
      font-size: 0.95rem;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
   }
}

small {
   color: $grayish-blue;
}

@mixin flex {
   display: flex;
   flex-direction: column;
}
