$primary-blue: rgb(83, 104, 223);
$primary-red: rgb(250, 87, 87);

$grayish-blue: rgb(145, 148, 161);
$dark-blue: rgb(37, 43, 70);

$font-size: 18px;
$font-family: 'Rubik', sans-serif;

$breakpoint: 760px;
